/* $Id$ */

/** global styles **/
body {
  font: 13px/16px Verdana, Arial, Helvetica, sans-serif;
  color: #474848;
  background-color: #f2edd4;
}

#page-wrapper {
  position:relative;
  width:90%;
  text-align:left;
  background-color: #FFFFFF;
  margin: 0 auto;
/**  header-top: 1%; */
  margin-top: 20px;
}

#mission a, #mission a:link, #mission a:visited {
  color:#F2EDD4
}

a, a:link, a:visited {
  color: #981A35;
  text-decoration: none;
  font-weight:bold;
}

#logo img, #logo2 img {
  width: 100%;
  height:100%;
}

#sidebar-left-region a, #sidebar-left-region a:link , #sidebar-left-region a:visited, #sidebar-left-region p,
#breadcrumb a, #breadcrumb a:link, #breadcrumb a:visited {
  color: #f2edd4;
  text-decoration: none;
}


a:hover, a:focus {
  color: #6191C5;
  text-decoration: underline;
}

a:active, a.active {
  color: #89A3E4;
}

h1.title, h1.title a, h1.title a:hover {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #6191C5;
  font-size: 200%;
  margin:0;
  line-height:normal;
}
h1, h1 a, h1 a:hover {
  font: 20px/20px Arial, Helvetica, sans-serif;
  color: #742f31;
  margin: 0;
}
h2, h3, h2 a:link, h2 a:visited {
  font: 18px/18px Arial, Helvetica, sans-serif;
  color: #981A35;
  margin: 2px 0 0 0;
}

h2 a, h2 a:hover, .block h3, .block h3 a {
  font: 18px/22px Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#sidebar-left-region h2, #sidebar-left-region h3 {
  font: 18px Arial, Helvetica, sans-serif;
  color: #f2edd4;
  font-size: 18px;
}

h4, h5, h6 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width:100%;
}

/** header styles **/
#header-wrapper {
  margin-left: 1%;
  margin-right:1%;
  margin-top: 10px;
  position: relative;
  display: block;
  height: 120px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
}

#logo {
  float: left;
  width: 15%;
  height: 100%;
  background-color: #742f31;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
}

#logo2 {
  float: right;
  width: 15%;
  height: 100%;
  background-color: #9fc9eb;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
}

#sitename {
  width: 68%;
  height: 100%;
  float: left;
  background-color: #981A35;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  margin-left: 1%;
}

#sitename h1 a{
  font: 42px/42px Arial, "Century Gothic", Verdana;
  color: #F2EDD4;
  margin-left: 7px;
  text-decoration: none;
  line-height: 100%;
}

#searchbox {
  float:right;
  width:210px;
  height: 20px;
  margin-top:55px;
  margin-right:0px;
}

#search .form-text {
  width: 137px;
  vertical-align: middle;
  border: 1px solid #6699CC;
}

#search .form-submit {
  padding: 0 3px;
  vertical-align: middle;
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  border-left: 1px solid #FFFFFF;
}

.submitted {
  color: #333333;
}

.submitted a{
  color: #000000;
}

/**Primarl Links **/
#primary-links {
  position: relative;
  display: block;
  height:20px;
  border-top: solid 12px #FFFFFF;
  background-color: #666666;
  margin-left: 1%;
  margin-right: 1%;
}

#primary-links ul {
  padding:0;
  margin:0;
  list-style:none;
  float: right;
}

#primary-links ul li {
  display:inline;
}

#primary-links ul li a, #primary-links ul li a:visited {
  padding: 3px 10px 0 10px;
  font: 10px/13px Verdana, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

#primary-links ul li a:hover {
color: #000000;
}


/**Mission statement & Breadcrumb Trail **/ 
#mission, #breadcrumb {
  position: relative;
  background-color: #742f31;
  color: #f2edd4;
  display: block;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/**Site Slogan**/
#site-slogan {
  position: relative;
  color: #F2EDD4;
  font: 22px/22px Arial, "Century Gothic", Verdana;
  margin-left: 7px;
  margin-top: 21px;
}

/** content area styles **/
#main-wrapper{
  position: relative;
  width:auto;
  height: 100%;
  border-top: solid 12px #FFFFFF;
  background-color: #336699;
}

#content-wrapper{
  position: relative;
  height: 100%;
  width: 82%;
  float:left;
  margin-left: 1%;
}

#content {
  background-color: #f2edd4;
  margin-top: 12px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  padding-bottom: 20px;
}

/**Shuffle things depending on sidebars - untested**/
.no-sidebars #content, .nosidebars #mission {
  /**padding: 12px 10px 10px 10px;**/
  position: relative;
}
.sidebar-left #content, .sidebar-left #mission {
width: 100%;
/**padding:12px 0 10px 10px;**/
position: relative;
float:left;
}


/** sidebar styles **/
#sidebar-left-region{
  position:relative;
  float:left;
  width:15%;
  background-color: #981A35;
  margin-left: 1%;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
}

.container-inline div {
 color: #F2EDD4; /**Correct text colour in sidebar **/
}

/** footer styles **/
#footer-region {
  position:relative;
  width: auto;
  height:40px;
  margin:0 auto;
  clear:both;
  border-top:12px solid #FFFFFF;
}

#feed-icons { /**untested **/
  float:right;
  padding: 8px;
}

#footer-text {
  position:relative;
  display: block;
  height: 30px;
  float:left;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 35px;
  left: 10px;
}



/** Tabs  **/
ul.primary {
  border-bottom: solid 0px #18324B;
  margin: 0px;
  margin-bottom: 5px;
}

ul.secondary {
  border-bottom: solid 0px #18324B;
}

ul.primary li.active a.active {
  background-color:#FFFFFF;
  border: solid 0px #18324B;
  font-weight: bold;
}

ul.primary li a {
  background-color:#FFFFFF;
  border: none;
  color: #742f31;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

ul.secondary li {
  margin-bottom: 5px;
}

ul.primary li a:hover {
  background-color: #FFFFFF;
  text-decoration: underline;
  border: none;
}

.tabs {
  float:right;
  display:block;
  margin-right:12px;
}


/**MISC**/
.content-title {
  display:block;
  padding-bottom: 8px;
}

/* Region: content */
#content-region-both table {
  width: 100%;
}

table thead {
  color: #981A35;
}

table tbody tr.odd,
table tbody tr.odd td.menu-disabled{
  background: #dcd093;
}

table tbody tr.even,
table tbody tr.even td.menu-disabled{
  background: #e4dbaf;
}

table tr td.region{
  font-weight: normal;
  color:#FFFFFF;
  background: #6699CC;
}

ul.secondary li.active a.active {
  border-bottom: solid 1px #18324B;
}
